<div id="<%= dom_id episode %>">
  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>File:</strong>
    <%= audio_tag(url_for(episode.file), controls: true) %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= episode.description %>
  </p>

</div>
